.FirstBlock {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.Landscape {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}

@supports(object-fit: contain) {
    .Landscape {
        height: 100vh;
        object-fit: cover;
        object-position: center 45%;
    }

    .ImgThirdBlock {
        object-fit: cover;
        object-position: center 45%;
    }
}

.Wrapper {
    margin-left: 5vw;
}

.Title1 {
    color: white;
    margin: 25vh 0 15px 0;
}

.Title2 {
    color: white;
    margin: 0vh 0 15px 0;
}

.Subtitle {
    color: white;
    width: 30vw;
}

.Description {
    color: white;
    width: 30vw;
    margin: 1em 0 1em 0;

}

/* ----------- EXPERIENCE ----------- */
.Experience {
    display: flex;
    background-color: white;
    padding: 4em;
    color: #282948;
    justify-content: space-around;
}

.Experience_Description {
    padding-right: 2em;
    width: 50%;

}

.Experience_Description h3 {
    color: #586479;
}

.Experience_Description h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.Experience_Description p {
    margin-bottom: 1em;
}

.Experience img {
    height: 70vh;
    width: auto;
}

/* ---------- HIGHLIGHTS ------------ */
.Highlights {
    background-image: url(C:\Users\sofis\Documents\MountainsDevelopment\src\images\highlights.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    width: 39vw;
    display: flex;
    height: 50vh;
    color: white;
    justify-content: space-between;
    padding-left: 30vw;
    padding-right: 30vw;
    align-items: center;
    text-align: center;
}

.Highlight p {
    font-weight: bold;
    margin-top: 1em;
    font-size: 1.2em;
}

.SegundoBloque {
    background-color: #F1F1F1;
    width: 100vw;
    padding-top: 8vh;
    padding-bottom: 10vh;
    text-align: center;
    align-items: center;
}

.TituloSegundoBloque {
    color: #282948;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.SubtituloSegundoBloque {
    color: #586479;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 8vh;
}

.CardsSegundoBloque {
    display: flex;
    justify-content: space-around;
}

.CardSegundoBloque {
    background-color: white;
    color: #282948;
    width: 20vw;
    border-radius: 14px;
    text-align: start;
}

.ImgCardSegundoBloque {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.WrapperCardSegundoBloque {
    padding: 0 1em 2em 1em;
}

.TercerBloque {
    background-color: #586479;
    width: 100vw;
    padding-top: 8vh;
    padding-bottom: 10vh;
    text-align: center;
    align-items: center;
}

.TituloTercerBloque {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.SubtituloTercerBloque {
    color: #B8C1CC;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.CardContainerTercerBloque {
    background-color: white;
    border-radius: 15px;
    width: 15vw;
    padding: 1em 1.5em 1.5em 1.5em;
}

.WrapperTituloTercerBloque {
    display: flex;
}

.WrapperTituloTercerBloque h3 {
    width: min-content;
    text-align: start;
    margin: 0.8em 0 0 0.5em;
    color: #282948;
}

.LogoCardTercerBloque {
    width: 60px;
    height: 60px;
}

.CardContainerTercerBloque p {
    text-align: start;
    color: #282948;
    margin-top: 2em;
    margin-bottom: 2em;
}

.BtnCardTercerBloque {
    width: 100%;
    border-style: none;
    background-color: #282948;
    color: white;
    font-weight: bold;
    padding: 0.8em 2em 0.8em 2em;
}

.CardsTercerBloque {
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
}

.Btn {
    height: 3em;
    width: 20vw;
    border-style: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 2vh;
    padding-left: 2em;
    padding-right: 2em;
}

.Btn:hover {
    cursor: pointer;
}

.CuartoBloque {
    background-color: white;
    display: flex;
}

.ContenidoCuartoBloque {
    width: 60vw;
}

.ImgCuartoBloque {
    width: 40vw;
    height: 90vh;
    object-fit: cover;
    object-position: top;
}

.ContenidoCuartoBloque h3 {
    color: #282948;

    margin: 10vh 0 0 1em;
    font-size: 2em;
}

.Frase {
    font-weight: bold;
    border-left: 4px solid #282948;
    padding-left: 16px;
    color: #282948;
    width: 80%;
    margin-top: 5vh;
}

.ItemsCuartoBloque {
    margin-top: 5vh;
    margin-left: 1em;
    width: 80%;
}

.ItemsCuartoBloque li {
    color: #282948;
    list-style: disc;
    margin-bottom: 1em;
}

/* .SecondBlock{
    height: 100vh;
    display: flex;
}

.TextSecondBlock {
    width: 50vw;
    background-color: #7C8CA5;
    color: white;
}

.ImageRoom {
    width: 50vw;
}

.ListSecondBlock {
    margin-top: 150px;
    width: 70%;
    font-size: large;
    margin-left: 2em;
    
}


.ListSecondBlock li {
    margin-bottom: 2em;
}

.ListSecondBlock li::before {
    content: '•'; 
  
    color: white; 
    font-size: large;
    margin-right: 0.5em;
}

.Importancia {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 120vh;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1em 1em 1em 2em;
    font-size:x-large;
    font-weight: bolder;
    color: rgb(58, 65, 89);
    text-align:right;
}

.ThirdBlock {
    height: 100vh;
    display:flex;
}

.ImgThirdBlock {
    width: 30vw;
}

.WrapperBenefits {
    background-color: #7C8CA5;
    color: white;
    width: 70vw;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 60px;
    font-size: large;
}

.WrapperParagraph {
    height: 15vh;
    width: 15vw;
    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 10% 3em 15% 3em;
    text-align: center;
    justify-self: center; 
    align-self: center; 
    font-size: large;
    font-weight: bold;
}


.WhyUs {
    position: absolute;
    z-index: 1;
    left: 7vw;
    top: 210vh;
    width: 20vw;
    font-size:x-large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-align:right;
}

.Btn {
    height: 3em;
    width: 20vw;
    border-style: none;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 2vh;
    padding-left: 2em;
    padding-right: 2em;
}

.Btn:hover {
    cursor: pointer;
}

@media (768px <= width <= 1080px) {
    .ListSecondBlock {
        font-size: medium;
    }

    .WhyUs {
        font-size: larger;
    }
   .WrapperParagraph {
        font-size: medium;
        height: 120px;
        width: 150px;
   }

   .Importancia h3 {
    font-size: x-large;
   }
   .Btn {
    width: fit-content;
   }
}
 */


@media (max-width: 768px) {
    .Title {
        font-size: 2.5em;
    }

    .Subtitle {
        font-size: medium;
    }

    .SecondBlock {
        display: block;
    }

    .ImageRoom {
        position: absolute;
        top: 100vh;
        width: 100%;
        height: 35vh;
    }

    @supports(object-fit: contain) {
        .ImageRoom {
            object-fit: cover;
            object-position: center 45%;
        }

    }

    .Importancia {
        top: 115vh;
        font-size: medium;
        left: 0;
        width: 60vw;
    }

    .TextSecondBlock {
        width: auto;
        margin-top: 35vh;
        height: fit-content;
        padding-top: 5vh;
    }

    .ListSecondBlock {
        margin-top: 0;
        padding-left: 0;
        width: 80%;
        padding-bottom: 5vh;
        margin-bottom: 0;
    }

    .ListSecondBlock li {
        font-size: small;
    }

    .SecondBlock {
        height: fit-content;
    }

    .ThirdBlock {
        display: block;
    }

    .ImgThirdBlock {
        width: 100%;
        height: 30vh;
    }

    .WhyUs {
        top: 197vh;
        font-size: large;
    }

    .WhyUs {
        width: 50vw;
        text-align: left;
        left: 5vw;
    }

    .ThirdBlock {
        height: fit-content;
        width: auto;
        background-color: #7C8CA5;
        padding-bottom: 5vh;
    }

    .WhyMD {
        font-size: small;
    }

    .WrapperParagraph {
        width: 35vw;
        padding: 15% 1em 15% 1em;
    }

    .WrapperBenefits {
        justify-content: center;
        width: auto;
        padding-top: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .Btn {
        width: fit-content;
    }
}