/* ------------ BANNER ------------ */

.Banner {
    background-image: linear-gradient(rgba(88, 100, 121, 0.64), rgba(88, 100, 121, 0.64)), url(C:\Users\sofis\Documents\MountainsDevelopment\src\images\seo-boy.jpg);
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: cover;
    width: calc(99vw - 2em);
    padding: 4em 0 4em 2em;
    margin-top: 10vh;
    color: white;
}

/* ------------ HISTORY ------------- */

.History {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
}

.History h2 {
    color: #282948;
    font-size: 2em;
    margin: 2em 0 0 0;
    width: 35vw;
    text-align: center;
}

.History h3 {
    color: #586479;
    font-style: italic;
    margin-bottom: 2em;
}

.History_Wrapper {
    display: flex;
    width: calc(99vw - 8em);
    padding: 0 4em 0 4em;
}

.History_Description {
    margin-top: 1em;
}

.History_Description_Title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
}

.History_Description_Title h4 {
    color: #282948;
    font-size: 1.3em;
    width: 80%;
}

.History_Description_Title img {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

.History_Description_Block p {
    margin-bottom: 2em;
    width: 90%;
    color: #282948;
}

.History_Img {
    margin-bottom: 2em;
    width: 30vw;
}

/* ------------- TURISM ------------ */
.Turism {
    display: flex;
    background-color: #586479;
    color: white;
}

.Turism img {
    width: 30vw;
    height: 50vh;
    object-fit: cover;
}

.Turism_Content {
    width: 50vw;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Turism_Content h2 {
    margin-top: 0;
}

/* --------- MEDIDA --------- */
.Medida {
    display: flex;
}

.Medida img {
    width: 60vw !important;
    height: 80vh;
    object-fit: cover;
    display: block;
}

.Medida_Content {
    padding: 6em;
    color: #282948;
}

.Medida_Content h3 {
    color: #586479;
    font-style: italic;
}

.Medida_Content h2 {
    margin-bottom: 2em;
}

/* ------------ REDESIGN ------------- */
.Redesign {
    background-color: #282948;
    color: white;
    display: flex;
    padding: 6em 10em 6em 8em;
}

.Redesign h2 {
    width: 30vw;
}

.Redesign_Content {
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Redesign_Content p {
    margin-bottom: 1em;
}

/* ------------- STRATEGY ------------- */

.Strategy {
    padding: 4em;
    display: flex;
    color: #282948;
}

.Strategy img {
    width: 30vw;
    margin-right: 4em;
}

.Strategy_Description {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Strategy_Description p {
    margin-bottom: 2em;
}

/* ------------ MAGIA ------------ */
.Magia {
    display: flex;
    background-color: #586479;
    justify-content: center;
    padding: 6em;
}

.Magia_Item {
    display: flex;
    flex-direction: column;
    color: white;
    width: 15vw;
    align-items: center;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.Magia_Item img {
    width: 50px;
    height: 50px;
}

.Magia_Item h4 {
    padding: 2em;
    width: 90%;
}